<?xml version="1.0"?>
<launch>

<!-- Launch robot -->
<include file="$(find Wheelchair)/launch/empty_world.launch" >
  <arg name="world_name" value="$(find Wheelchair)/worlds/map1_world/model.sdf"/>
</include>



  
  

 <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />

<param name="robot_description" command="$(find xacro)/xacro '$(find Wheelchair)/urdf/Wheelchair_urdf.urdf'" />
  <!-- push ABot_description to factory and spawn robot in gazebo -->
 <node name="spawn_ABot" pkg="gazebo_ros" type="spawn_model" args=" -x 19.79 -y 2.7 -Y 2.88 -urdf -model Wheelchair -param robot_description" respawn="false" output="screen" />


<!-- Launch Rviz with config file  
<node type="rviz" name="rviz1" pkg="rviz" args="-d $(find sequential_map_merging)/rviz/viz1.rviz" />
-->



</launch>
